{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Nakano Keisuke</title>
  </head>
  <body>
    <div class="header">
      <img
        src="{% static 'img/background_top.png' %}"
        alt=""
        class="img_background_top"
      />
      <div class="header_center">
        <div class="div_icon">
          <img src="{% static 'img/icon.jpg' %}" alt="" class="icon" />
        </div>
        <div class="div_name">
          <p class="name">Nakano Keisuke</p>
          <p class="tag">#データ分析 #機械学習 #宇宙開発</p>
        </div>
      </div>
    </div>
    <div class="middle">
      <div class="middle_profile">
        <p>Profile</p>
      </div>
      <div class="middle_contact">
        <p>Contact</p>
      </div>
      <div class="middle_sns">
        <p>SNS</p>
      </div>
    </div>
    {% include "_footer.html" %}
  </body>
</html>
